{% extends 'layouts/base.html.twig' %}

{% block title 'Find all the teachers of ISTEC'%}

{% block body %}
    {% if teachers |length > 0%}
        <h1 class="mb-4 text-center text-muted">{{ pluralize(teachers|length, 'Teacher') }}</h1>

            {% for row in teachers |batch(3) %}
            <div class="mb-5 row">
                {% for teacher in row %}
                    <div class="col-md-4">
                        <article class="teacher bg-white rounded shadow">
                            <div class="mw-100 overflow-hidden">
                                <a href="{{ path('app_teachers_show', {id: teacher.id}) }}">
                                    <img src="{{ (teacher.imageName ? vich_uploader_asset(teacher) : asset('images/Logo.jpg')) | imagine_filter('squared_thumbnail_medium') }}" alt="{{ teacher.title }}" class="w-100 rounded-top"/>
                                </a>
                            </div>
                            <div class="pt-3">
                            <h2 class="h5"><a href="{{ path('app_teachers_show', {id: teacher.id}) }}" class="text-secondary text-decoration-none">{{ teacher.title }}</a></h2>
                            <p>{{ teacher.description | u.truncate(10, '...', false) }}</p>
                            <p class="pb-3 pl-3 text-muted"><small>Submitted [OWNER FULL NAME]</small></p>
                            </div>
                        </article>
                    </div>
                {% endfor%}
                </div>
           {% endfor %}
    {% else %}
        <p class=" h1 mt-7 text-center">No teachers yet. <a href="{{ path('app_teachers_create') }}">Creat a new teacher!</a></p>
    {% endif %}
{% endblock %}
