{% extends 'layouts/base.html.twig' %}

{% block title teacher.title %}

{% block body %}
    <article>
        <h1>{{ teacher.title}} </h1>
        <p>{{ teacher.description}} </p>
    </article>

        <a href="{{ path('app_teachers_edit', {id: teacher.id} )}}">Edit</a> |
        <a href="{{ path('app_teachers_delete', {id: teacher.id} )}}">Delete</a> |
        <a href="{{  path('app_home') }}">Go Back</a>

{% endblock %}